WS_PORT=7502
GRAPH_QL_PORT=7503
BACKTEST_PORT=7515
EXCHANGE_SERVICE_API_URL=http://localhost:7510
PAPER_TRADING_API_URL=http://localhost:7506
SERVER_HOST=http://localhost:7503
MAIN_SERVICE_HOST=localhost
BACKTEST_SERVICE_HOST=localhost

MONGO_DB_HOST=localhost
MONGO_DB_USERNAME=
MONGO_DB_PASSWORD=
MONGO_DB_NAME=
MONGO_DB_PORT=
MONGO_DB_MAX_POOL_SIZE=

REDIS_PORT=6379
REDIS_PASSWORD=

RABBIT_HOST=localhost
RABBIT_PORT=5672
RABBIT_USER=gainium
RABBIT_PASSWORD=

JWT_SECRET=

BOTS_PER_WORKER=100
COMBO_PER_WORKER=100
DCA_PER_WORKER=100
HEDGE_COMBO_PER_WORKER=100
HEDGE_DCA_PER_WORKER=100
GRID_PER_WORKER=100
INIDCATORS_PER_WORKER=1000

FULL_RESTART="false"
FULL_GRID_RESTAT="false"
